.portlet-boundary_KingstonAirportSchedule_ {
	.tab {
		border: 1px solid #ccc;
		background-color: #025157;
		border-bottom: none;
		button {
			&:focus {
				background: none;
			}
			&.active {
				color: #fff;
			}
		}
		&.checkFlights {
			background-color: #0e9390;
			button {
				background-color: #025157;
			}
		}
	}
	table {
		&.schedule {
			width: 100%;
			padding: 0;
			margin: 0;
			background-color: #fff;
			th {
				background-color: #0E9390;
				color: #fff;
				font-weight: bold;
				padding: 10px 5px;
			}
			td {
				font-weight: bold;
				padding: 2px 5px;
				img {
					vertical-align: middle;
				}
				&.next-day {
					hr {
						background-color: #333;
						color: #333;
						border: 0;
						height: 2px;
						clear: both;
						margin: 0;
						width: 33%;
						display: inline-block;
						vertical-align: middle;
					}
					span {
						width: 33%;
						max-width: 33%;
						display: inline-block;
						text-align: center;
					}
				}
			}
			tr {
				&:nth-child(even) {
					background-color: #EDEDEF;
				}
			}
		}
	}
	.tabcontent {
		display: none;
		border: 1px solid #ccc;
		border-top: none;
	}
	.error-message {
		padding: 5px;
		font-weight: bold;
	}
}
.portlet-boundary_KingstonAirportSchedule_ .tab button, .kingston-airport-schedule-portlet .tab.checkFlights button {
	background-color: inherit;
	border: none;
	border-radius: 0;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	margin: 0;
	color: #a4b6b8;
}
.portlet-boundary_KingstonAirportSchedule_ .tab button:hover, .kingston-airport-schedule-portlet .tab.checkFlights button:hover {
	background-color: #A4B6B8;
	color: #333;
}
